<mat-tab-group headerPosition="below" >
  <mat-tab label="Introduction">
    <div class="flex w-full h-full justify-center">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="my-header-image"></div>
          <mat-card-title class="custom-title">Muhammad Osama Iftikkar</mat-card-title>
          <mat-card-subtitle>Web Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am a skilled and motivated software developer with a passion for delivering cutting-edge solutions that drive business growth and improve customer experience. My expertise spans multiple programming languages and technologies, including HTML, CSS, JavaScript, and various frameworks. I have experience working on a variety of projects, from developing custom web applications to building high-performance, scalable systems.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Education">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-title class="custom-title">BS Computer Science</mat-card-title>
        <mat-card-subtitle>Virtual University of Pakistan/Multan</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </mat-tab>
<!--  <mat-tab label="Projects">-->
<!--    <mat-card class="card">-->
<!--      <mat-card-content>-->
<!--        <mat-card-title>To be Updated!</mat-card-title>-->
<!--        <mat-card-subtitle>P</mat-card-subtitle>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-tab>-->
</mat-tab-group>
